body {
    margin: 0;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    position: relative;
}

button {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}

.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}

.clear {
    clear: both;
}

.block-action,
.block-actions,
.block-delete,
.dashboard-content-toolbar,
.dashboard-list div,
.dashboard-login,
.dashboard-nav,
.dashboard-overlay,
.media-options
{
    background-color: #122334;
}

.dragging .blocks {
    background-color: #677889;
}

.dragging .block-overlay:hover {
    background-color: #78899A;
    opacity: 0.5;
}
.dragging .block-editor-trigger:hover span {
    display: none;
}

.dashboard-content.cms,
.dashboard-modal {
    background-color: #EDDDDE;
}

.block-action,
.block-actions,
.block-delete,
.buttons button,
.dashboard-content-toolbar a,
.dashboard-content-settings-wrapper,
.dashboard-list li,
.dashboard-login,
.dashboard-nav,
.dashboard-nav a,
.dashboard-list a,
.media-options i {
    color: #EDDDDE;
}

a,
.dashboard-modal,
.media-library-navigation a {
    color: #122334;
}

.save {
    background-color: #348732;
}
.save:hover {
    background-color: #568954;
}
.cancel {
    background-color: #873432;
}
.cancel:hover {
    background-color: #A95654;
}
.save:hover, .cancel:hover {
    color: #FFF;
}

.dashboard-login {
    width: 48em;
    padding: 1em 1em 0 1em;
    margin: 4em auto auto auto;
}

.collapse-nav .dashboard-nav {
    width: 3em;
    transition: width 0.5s;
    }
    .collapse-nav .dashboard-nav span {
        opacity: 0;
    }

.collapse-nav .dashboard-content-toolbar {
    left: 3em;
}

.expand-nav .dashboard-nav {
    transition: width 0.5s, padding-right 0.5s;
    }
    .dashboard-nav {
        width: 13em;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
        z-index: 25;
        border-right: 0.0625em #78899A solid;
        }
        .dashboard-nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .dashboard-nav li {
            line-height: 2.5em;
            padding: 0.25em;
            display: block;
            width: 12.5em;
            cursor: pointer;
            border-bottom: 0.0625em #78899A solid;
        }
        .dashboard-nav a {
            display: block;
            }
            .dashboard-nav a:hover span {
                font-weight: bold;
            }

        .dashboard-nav i {
            position: relative;
            top: 0.175em;
            width: 1.25em;
            margin-right: 0.25em;
            text-align: center;
        }
        .dashboard-nav span {
            opacity: 1;
            transition: opacity 0.5s;
        }
        .dashboard-nav ul ul {
            position: relative;
            left: 0.25em;
            overflow: hidden;
            transition: 0.5s height;
        }
        .dashboard-nav ul ul.collapse-nav-item {
            height: 0;
        }
        .dashboard-nav li li {
            line-height: 1.5em;
            padding-top: 0;
            border-bottom: transparent;
            }
            .dashboard-nav li li i {
                margin-right: 0.75em;
                font-size: 1.25em;
            }
            .dashboard-nav li li span {
                font-size: 0.75em;
            }

    .dashboard-nav.scroll {
        width: 12em;
        padding-right: 1em;
        overflow-y: auto;
    }

.collapse-nav .dashboard-content {
    margin-left: 3em;
    }
    .dashboard-content {
        margin-left: 13em;
        background-color: #ABC;
        transition: margin-left 0.5s;
        }
        .dashboard-content .block-wrapper {
            padding: 3.5em 0.5em 0 0.5em;
            min-height: 4em;
        }
        .dashboard-content.site {
            background-color: transparent;
        }

        .media-wrapper {
            position: relative;
            float: left;
            margin: 0 0.5em 0.5em 0.5em;
        }
        .media-options {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 5;
            padding: 0.25em;
        }
        .media-buttons {
            float: left;
        }
        .media-buttons.right {
            float: right;
        }
        .media-content {
            position: relative;
        }
        .media-content img {
            cursor: pointer;
        }

        .media-overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        .media-overlay span {
            display: none;
            background-color: #000;
            color: #FFF;
            padding: 0.5em;
            line-height: 1em;
        }
        .media-overlay:hover span {
            display: block;
        }

.collapse-nav .dashboard-content.cms {
    position: absolute;
    margin-left: 0;
    left: 3em;
    }
    .dashboard-content.cms {
        position: absolute;
        margin-left: 0;
        left: 13em;
        top: 0;
        right: 0;
        min-height: 30em;
        transition: left 0.5s, right 0.5s;
        overflow: hidden;
        z-index: 20;
    }
    .dashboard-content.cms.collapse {
        right: calc(100% - 3em);
    }

.dashboard-content-wrapper {
    position: relative;
    padding: 0.5em 1em;
    min-width: 50em;
    }
    .dashboard-content-wrapper h1 {
        margin-bottom: 1em;
    }

.dashboard-content-toolbar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    left: 13em;
    transition: left 0.5s;
}

.dashboard-content-settings-wrapper {
    overflow: hidden;
    background-color: #455667;
    transition: height 0.625s;
}

.dashboard-content-settings {
    padding: 0.25em 0.5em;
}

.dashboard-modal {
    outline: 0.125em #122234 solid;
    position: fixed;
    width: 60em;
    top: 6em;
    max-height: 30em;
    left: 50%;
    margin-left: -25%;
    padding: 1em;
    color: #122234;
    z-index: 25;
    overflow: auto;
    }
    .modal-content h1 {
        margin-top: 0;
    }
    .buttons {
        padding: 0.5em 0;
        float: right;
    }
    .buttons button,
    .buttons a {
        float: right;
        border: none;
        display: block;
        padding: 0.25em 0.5em;
        margin-left: 0.25em;
        font-size: 1em;
    }

.buttons-left, .buttons-right {
    height: 2.0625em;
    padding: 0.5em;
    border-bottom: 0.0625em #78899A solid;
}
.buttons-left {
    float: left;
}

.buttons-right {
    float: right;
}

.buttons-left i {
    margin-right: 0.5em;
}

.buttons-right i {
    margin-left: 0.5em;
}

#dashboard-upload iframe {
    width: 100%;
    min-height: 15rem;
}

.media-library-navigation {
    margin-bottom: 1em;
    }
    .media-library-navigation ul {
        padding: 0;
        margin: 0;
        list-style: none;
        float: left;
        width: 100%;
    }
    .media-library-navigation li {
        float: left;
        margin-right: 0.25em;
    }

.media-library {
    height: 25em;
    overflow-y: auto;
    }
    .media-library .media {
        float: left;
        margin: 0.5em;/*0 1em 1em 0;*/
        width: 6.875em;/*13.625em;*/
        height: 6.875em;
        overflow: hidden;
        text-align: center;
        position: relative;
        cursor: pointer;
        line-height: 6.5em;
    }

.media:hover {
    outline: 0.25em #122234 solid;
    }
    .media * {
        max-width: 100%;
        height: auto;
        max-height: 100%;
    }

    .media img {
        vertical-align: middle;
    }

    .media i {
        line-height: 1.75em;
        /*position: absolute;*/
        /*position: relative;
        top: 50%;
        margin-top: -25%;*/
    }

    .media span {
        position: relative;
        top: -4.25em;
    }
    .media:hover span {
        font-weight: bold;
    }

    .media .fa-folder-o,
    .media .fa-folder {
        display: block;
    }
    .media:hover .fa-folder-o,
    .media:hover .fa-folder {
        display: none;
    }

    .media .fa-folder-open-o,
    .media .fa-folder-open {
        display: none;
    }
    .media:hover .fa-folder-open-o,
    .media:hover .fa-folder-open {
        display: block;
    }

.dashboard-overlay {
    z-index: 24;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.625;
}

.blocks {
    float: left;
    width: 100%;
    position: relative;
    min-height: 20em;
}

.block {
    float: left;
    position: relative;
    overflow: hidden;
    min-height: 2em;
}
.block.image {
    padding-bottom: 2em;
}
.block.image button {
    position: absolute;
    bottom: 0.25em;
    left: 0;
}

.block-overlay {
    opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
    right: 0.5em;
}

.block-editor-trigger {
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.block-editor-trigger span {
    display: none;
}
.block-editor-trigger:hover span {
    display: block;
    padding: 0.5em;
    line-height: 1em;
    background-color: #000;
    color: #FFF;
}

.dragging .block-overlay {
    bottom: 0;
}

.clone {
    position: absolute;
}

.block-actions {
    position: absolute;
    left: 0;
    top: 0;
    right: 0.5em;
    display: none;
}

.block-delete,
.block-action {
    display: block;
    padding: 0.5em;
    cursor: pointer;
}
.block-delete {
    float: right;
}
.block-action {
    float: left;
}

/*.block.resizing .block-delete,
.block:hover .block-delete,
.block.resizing .block-actions,
.block:hover .block-actions*/
.block .block-delete,
.block .block-actions {
    display: block;
}

.resize-handles {
    height: 3em;
    padding: 0 0.5em;
    position: absolute;
    top: 0;
    right: 2.5em;
}

.resize-handles div {
    font-size: 0.75em;
    padding-top: 1.625em;
}

.resize-handles .nw {
    top: 0;
    left: 0;
    cursor: nw-resize;
}

.resize-handles .ne {
    top: 0;
    right: 0;
    cursor: ne-resize;
}

.resize-handles .se {
    position: relative;
    cursor: w-resize;
}

.resize-handles .sw {
    bottom: 0;
    left: 0;
    cursor: sw-resize;
}

.block-width {
    position: absolute;
    top: 0.75em;
    width: 2.5em;
    font-size: 0.875em;
    text-align: center;
    display: block;
    cursor: pointer;
}
.block-delete {
    position: absolute;
    right: 0;
    top: 0;
    float: none;
    padding: 0.5em;
    display: none;
}

span.image,
span.video,
span.form {
    display: block;
    width: 100%;
    height: 10em;
}