.dashboard-list {
    float: left;
    position: relative;
    width: 100%;
}
.dashboard-list ul {
    display: block;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    float: left;
}
.dashboard-list li {
    float: left;
    width: 100%;
    display: block;
}
.dashboard-list li.clone {
    position: absolute;
    width: 50%;
    opacity: 0.75;
}
.dashboard-list li ul {
    overflow: hidden;
    padding-left: 3em;
    transition: 0.5s height;
    width: 100%;
}
.dashboard-list div {
    border-bottom: 0.0625em #EDDDDE solid;
    float: left;
    width: 100%;
}
.dashboard-list span {
    display: block;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    float: left;
    text-align: center;
    cursor: pointer;
}
.dashboard-list span.floatRight {
    float: right;
}
.dashboard-list span.title {
    line-height: 2em;
    width: auto;
}