.chaniCropWrapper {
    background-color: #EEDDFF;
    border-color: #EEDDFF;
    border-style: solid;
    overflow: hidden;
    z-index: 50;
}

.chaniImageWrapper {
    position: absolute;
    z-index: 2;
}

.chaniImageWrapper img {
    position: absolute;
}

.chaniCropWrapper {
    padding-bottom: 6.5em;
}

.chaniCropUI {
    height: 6em;
    padding-top: 0.5em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #EEDDFF;
    z-index: 4;
}

.chaniCropControls {
    width: 100%;
    position: relative;
}

.chaniCropslider {
    width: 30em;
    height: 1em;
    background-color: #DDFFFF;
    position: relative;
    padding: 0.25em;
}

.chaniCropSliderKnob {
    border-radius: 0.25em;
    border-width: 0.25em;
    border-color: #DDFFFF;
    width: 1em;
    height: 1em;
    background-color: #EEDDFF;
    position: absolute;
}

.chaniCropPercentage {
    position: absolute;
    top: 0;
    right: 0;
    width: 8.25em;
}
.chaniCropPercentage label {
    position: absolute;
    left: 0;
}
.chaniCropPercentage span {
    position: absolute;
    right: 0;
}

.chaniCropInfo {
    position: relative;
    padding: 0.25em 0;
    height: 2em;
}

.chaniCropInfo .imageInfo {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.5em 0;
    text-align: right;
}

.chaniCropInfo .cropInfo {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.5em 0;
}

.cropInfo span,
.cropInfo label {
    margin-right: 0.5em;
}

.chaniCropButtons {
    position: relative;
    padding: 0.25em;
    height: 2em;
    font-weight: bold;
    text-transform: uppercase;
}

.chaniCropButtonLeft {
    float: left;
    padding: 0.5em 0;
    cursor: pointer;
}

.chaniCropButtonRight {
    float: right;
    padding: 0.5em 0;
    cursor: pointer;
}

.imageInfo span,
.imageInfo label {
    margin-left: 0.5em;
}

.chaniCropImageOverlay {
    position: absolute;
    background-color: #444;
    z-index: 2;
}

.chaniCropArea {
    position: absolute;
    z-index: 3;
}

.chaniCropArea.top {
    left: 0;
    top: 0;
    right: 0;
    height: 128px;
}
.chaniCropArea.right {
    top: 0;
    right: 0;
    bottom: 0;
    width: 128px;
}
.chaniCropArea.bottom {
    right: 0;
    bottom: 0;
    left: 0;
    height: 128px;
}

.chaniCropArea.left {
    bottom: 0;
    left: 0;
    top: 0;
    width: 128px;
}

.chaniCropMeasure {
    position: absolute;
    z-index: 3;
    overflow: hidden;
}

.chaniCropHandle {
    position: absolute;
    width: 0.5em;
    height: 0.5em;
    background-color: #000;
    border: 0.25em #FFF solid;
}

.chaniCropHandle.top {
    top: 0;
    left: 50%;
    margin-left: -0.375em;
    cursor: ns-resize;
}

.chaniCropHandle.top.right {
    bottom: auto;
    left: auto;
    top: 0;
    right: 0;
    cursor: ne-resize;
    margin-top: 0;
    margin-left: 0;
}

.chaniCropHandle.right {
    right: 0;
    top: 50%;
    margin-top: -0.375em;
    cursor: ew-resize;
}

.chaniCropHandle.bottom.right {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    cursor: se-resize;
    margin-top: 0;
    margin-left: 0;
}

.chaniCropHandle.bottom {
    bottom: 0;
    left: 50%;
    margin-left: -0.375em;
    cursor: ns-resize;
}

.chaniCropHandle.bottom.left {
    top: auto;
    left: 0;
    bottom: 0;
    cursor: sw-resize;
    margin-top: 0;
    margin-left: 0;
}

.chaniCropHandle.left {
    left: 0;
    top: 50%;
    margin-top: -0.375em;
    cursor: ew-resize;
}

.chaniCropHandle.top.left {
    bottom: auto;
    top: 0;
    left: 0;
    cursor: nw-resize;
    margin-top: 0;
    margin-left: 0;
}