/**
    Uniform CSS for CMS forms
*/

.uniForm {
    width: 100%;
    padding: 0.5em 0;
    float: left;
}
.uniForm.noPaddingTop {
    padding-top: 0;
}

.colWrapper,
.oneCol,
.twoCol,
.fourCol {
    float: left;
}

.colWrapper,
.oneCol {
    width: 100%;
}

.twoCol {
    width: 50%;
}

.fourCol {
    width: 25%;
}

.uniForm label {
    margin-bottom: 0.25em;
    padding: 0.25em 1em;
    display: block;
    float: left;
    box-sizing: border-box;
    line-height: 125%;
    clear: left;
}

.uniForm button,
.uniForm input,
.uniForm textarea,
.uniForm select {
    line-height: 125%;
    padding: 0.25em 0.5em;
    margin: 0.125em 0 0.125em 0.5em;
    border: none;
    box-sizing: border-box;
    display: block;
    float: right;
    font-size: 1em;
}

.uniForm input,
.uniForm textarea,
.uniForm select {

}

.uniForm button.floatLeft {
    float: left;
}

.uniForm input[type="file"] {
    padding: 0;
}

.uniForm input:hover,.uniForm input:focus,
.uniForm textarea:hover,.uniForm textarea:focus,
.uniForm select:hover,.uniForm select:focus {

}

.uniForm input[type="radio"],
.uniForm input[type="checkbox"] {
    padding: 0;
    margin-top: 0.625em;
    width: auto !important;
    float: left !important;
    margin-left: 1em;
}

.boxes input[type="radio"],
.boxes input[type="checkbox"] {
    margin-left: 0;
}

.oneCol .boxes,
.oneCol input,
.oneCol textarea,
.oneCol select {
    width: calc(75% - 1em);
}

.twoCol .boxes,
.twoCol input,
.twoCol textarea,
.twoCol select {
    width: calc(50% - 1em);
}

.fourCol .boxes,
.fourCol input,
.fourCol textarea,
.fourCol select {
    width: calc(100% - 1em);
}

.boxes {
    float: right;
}

.formFieldValueWrapper {
    float: left;
    width: 100%;
}

.boxes label {
    width: calc(100% - 2em);
    clear: none;
}
.boxes input,
.boxes select,
.boxes textarea {
    clear: left;
    float: left;
}

.uniForm progress {
    width: 67%;
    height: 1.85em;
    float: left;
}

.clear {
    clear: both;
}